.t2 {
	border: 1px solid black;
	align: center;
	width: 50%; 
	margin-left: 25%;
}

.t2 td {
	padding: 10px;
	border: 1px solid black;

}



.t3 {
	border: 1px solid black;
	align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.t3tr {
	margin: 1px;
}

.t3td {
	border: 1px solid black;
	padding: 10px;
	display: inline-flex;
	margin: 1px;
	

}