#derecha {
	text-align: right;
	font-style: italic;
}

#tachado {
	text-transform: uppercase;
	text-decoration: line-through;
}

#grande {
	font-size: 120%;
	font-family: serif;
}

#verde {
	font-weight: bold;
	text-shadow: -4px 3px 5px green;
}

div {
	height: 200px;
	width: 400px;
	border-radius: 25px;
	padding: 10px;
	float: left;
}
#div1 {
	background-color: #DAF7A6;
	display: inline-block;
}

#div2 {
	background-color: #A3E4D7;
	display: inline-grid;

}

#div3 {
	background-color: #C39BD3;
	float: left;
}

.rojo {
	background-color: darkred;
	height: 50px;
	width: 100px;
}

.green {
	background-color: green;
	height: 50px;
	width: 100px;
}

.azul {
	background-color: blue;
	height: 50px;
	width: 100px;
}

div a {
	color: white;
	float: left;
	text-decoration: underline;
	display: block;
}

.noticias {
	padding: 5px;
	text-decoration: none;
}

.noticias:hover {
	color: white;
	text-decoration: underline;
	background-color: black;
}

div p {
	font-weight: bold;
}
