.t2 {
	border: 1px solid black;
	align: center;
	width: 50%; 
	margin-left: 25%;
}

.t2 td {
	padding: 10px;
	border: 1px solid black;

}

.t3 {
	border: 1px solid black;
}

.t3tr {
	border: 1px solid black;
}