
.nav {
  color: blue;
  background: lightblue;
  text-decoration: none;
  background: lightblue;
  font-weight: bold;

}

.nav:hover {
  transition: all 0.5s;
  color: blue;
  background: white;
  padding: 10px;
}

li,a {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
} 

section {
  display: inline-table;
}
h2 {
  text-align: center;
}
ul{
  display: flex;
  flex-direction: row; 
}
nav{
  border: solid 5px black;
}