body {
	background-color: lightblue;
	width: 30% 20% 30%;
	margin: 25%;
}

h1 {
	color: darkblue;
	text-decoration: underline;
	margin: ;
}

video {
	width: 100%;
	text-align: center;

}

p {
	text-align: justify;
}

img {
	height: 100px;
	width: 100px;
	float: left;
	padding: 10px;
}

a {
	position: relative;
	left: 25%;
}